@tailwind base;
@tailwind components;
@tailwind utilities;

@import "animations";

body {
    font-family: var(--font-haffer) !important;
    font-feature-settings: "rlig" 1, "calt" 1;
}
p {
    font-family: var(--font-haffer);
}

h1 {
        font-family: var(--font-haffer) !important;

}